@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css';
body{
	background: repeating-linear-gradient(
		45deg,
	  	rgba(255,105,180,0.1),
	  	rgba(255,105,180,0.1) 1em,
	  	rgba(255,105,180,0.2) 1em,
	 	rgba(255,105,180,0.2) 2em)
}

