body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: repeating-linear-gradient(
		45deg,
	  	rgba(255,105,180,0.1),
	  	rgba(255,105,180,0.1) 1em,
	  	rgba(255,105,180,0.2) 1em,
     rgba(255,105,180,0.2) 2em);

    background-repeat: no-repeat;
    background-size: contain;
    font-family: fantasy;
}
