body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: lightcyan;
  background-repeat: no-repeat;
  background-size: contain;
  font-family: fantasy;
}

h1{
  color: green;
}

h3{
  color: grey;
}
